header{
  height:100px;
  width: 100%;
  background-color: lightgrey;
 }
.service-title{
  height:60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight:800;
  font-size: 40px;
}
.main{
  height: 500px;
  width: 100%;
  background-color: white;
 }
 .title-contents{
  height: 500px;
  width: 100%;
  background-color: white;
 }